<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <link href="/css/build.css" rel="stylesheet">

</head>
<body>

<script src="/js/socket.io-1.2.0.js"></script>
<script src="/js/jquery-1.12.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav top-nav nav-stacked menu">
            <li>
                <div class="brand">
                    <a href="#"><span class="pull-left"><img src="/img/testlogo.png" width=25px/></span> <font
                            style="font-size: 30px; font-family: 'Pacifico', sans-serif">Sagip</font></a>
                </div>
            </li>
            <li class="active">
                <a href="/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-map fa-stack-1x "></i></span>
                    Home</a>
            </li>
            <li>
                <a href="/messaging"><span class="fa-stack fa-lg pull-left"><i class="fa fa-envelope fa-stack-1x "></i></span>
                    Messaging</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Partner
                    Organizations</a>
            </li>
            <li>
                <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-history fa-stack-1x "></i></span>Log</a>
            </li>
        </ul>
        <ul class="sidebar-nav bottom-nav nav-stacked menu">
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span>
                    Account</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-sign-out fa-stack-1x "></i></span>
                    Logout</a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div id="fix-to-top-wrapper">
            <nav class="navbar navbar-default no-margin">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container-fluid main-content">
            <div class="row">
                {{{ body }}}
            </div>
        </div>
    </div>
</div>

{{#if showBar}}
    <div id="floating-filter">
        <h3>Filter</h3>
        <div class="checkbox">
            <input id="checkbox" type="checkbox">
            <label for="checkbox">Subscribers</label>
        </div>
        <div class="subscriber-filter">
            <div class="checkbox">
                <input id="saved" type="checkbox">
                <label for="saved">Saved</label>
            </div>
            <div class="checkbox">
                <input id="inDanger" type="checkbox">
                <label for="inDanger">In Danger</label>
            </div>
            <div class="checkbox">
                <input id="marked" type="checkbox">
                <label for="marked">Marked</label>
            </div>
            <div class="checkbox">
                <input id="idle" type="checkbox">
                <label for="idle">Idle</label>
            </div>
        </div>

        <div class="checkbox">
            <input id="checkbox" type="checkbox">
            <label for="checkbox">Rescuers</label>
        </div>
    </div>
{{/if}}

<script src="/js/default.js"></script>

</body>

</html>