<link rel="stylesheet" href="/css/home.css" />

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBKKTvirqm2LvwZaPD6ymCF5QS_oHueYfg"></script>
<script src="/js/home.js"></script>

<div id="map-container">

</div>
