<link rel="stylesheet" href="/css/home.css"/>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYETwsOAvux9A4kk8Zz4ow2ptx5NCW058"></script>
<script src="/js/home.js"></script>

<div id="map-container">

</div>
