<link rel="stylesheet" href="/css/logs.css" />
<script src="/js/logs.js"></script>

<div class="row" id="logging-panel">

    <div class="col-sm-12" id="log-wrapper">
        <div class="col-sm-12" id="log-body">
        </div>
    </div>

</div>