<link rel="stylesheet" href="/css/logs.css" />
<script src="/js/logs.js"></script>

<div class="row" id="logging-panel">

    <div class="col-sm-3" id="log-filter-wrapper">
    </div>

    <div class="col-sm-9" id="log-wrapper">
        <div class="col-sm-12 page-header" id="log-head">
            <h4>Welcome!</h4>
            <p>This service is made available by Globe.</p>
        </div>
        <div class="col-sm-12" id="log-body">
        </div>
    </div>

</div>