<link rel="stylesheet" href="/css/messaging.css" />
<script src="/js/messaging.js"></script>

<div class="col-md-12" id="messaging-panel">

    <div class="col-sm-3" id="cotact-list-wrapper">
        <ul id="contact-list" class="list-group">
        </ul>
    </div>

    <div class="col-sm-9" id="message-thread">

        <div class="col-sm-12 page-header" id="thread-title">
            <h4></h4>
            <p>Lorem Ipsum</p>
        </div>

        <div class="col-sm-12" id="thread-body">
        </div>

        <div class="col-sm-12" id="thread-compose-message">
            <textarea id="compose-text"></textarea>
            <button class="btn btn-default" id="send-msg">Send</button>
        </div>
    </div>

</div>
