<link rel="stylesheet" href="/css/organizations.css" />
<script src="js/modernizr.custom.js"></script>

<div class="header">
    <h2 class="text-left">Partner Organizations
        <button type="button" class="pull-right btn btn-red btn-circle btn-lg" data-toggle="modal" data-target="#add-organization-modal">+</button>
    </h2>
</div>
<ul id="og-grid" class="og-grid">
    <li>
        <a href="#" data-smallsrc="img/partners/redcross.png" data-title="Philippine Red Cross" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/redcross.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="img/partners/saruf.png" data-title="Search and Rescue Unit Foundation" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/saruf.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="img/partners/lifeline.png" data-title="Lifeline Rescue" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/lifeline.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="img/partners/sbma.png" data-title="Subic Bay Metropolitan Authority" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/sbma.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02"  height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="http://cargocollective.com/jaimemartinez/" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02" height=100px class="fade-image" />
        </a>
    </li>                    
    <li>
        <a href="http://cargocollective.com/jaimemartinez/" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="http://cargocollective.com/jaimemartinez/" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="http://cargocollective.com/jaimemartinez/" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02" height=100px class="fade-image" />
        </a>
    </li><li>
        <a href="#" data-smallsrc="img/partners/redcross.png" data-title="Philippine Red Cross" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/redcross.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="img/partners/saruf.png" data-title="Search and Rescue Unit Foundation" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/saruf.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="img/partners/lifeline.png" data-title="Lifeline Rescue" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/lifeline.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="img/partners/sbma.png" data-title="Subic Bay Metropolitan Authority" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/sbma.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02"  height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="http://cargocollective.com/jaimemartinez/" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02" height=100px class="fade-image" />
        </a>
    </li>                    
    <li>
        <a href="http://cargocollective.com/jaimemartinez/" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02" height=100px class="fade-image" />
        </a>
    </li><li>
        <a href="#" data-smallsrc="img/partners/redcross.png" data-title="Philippine Red Cross" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/redcross.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="img/partners/saruf.png" data-title="Search and Rescue Unit Foundation" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/saruf.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="img/partners/lifeline.png" data-title="Lifeline Rescue" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/lifeline.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="img/partners/sbma.png" data-title="Subic Bay Metropolitan Authority" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="img/partners/sbma.png" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02"  height=100px class="fade-image" />
        </a>
    </li>
    <li>
        <a href="#" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02" height=100px class="fade-image" />
        </a>
    </li>                    
    <li>
        <a href="#" data-smallsrc="images/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
            <img src="images/thumbs/2.jpg" alt="img02" height=100px class="fade-image" />
        </a>
    </li>
</ul>

<div class="modal fade" id="add-organization-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title">Add New Partner Organization</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3 text-right">
                            <label>Organization Name: </label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" placeholder="Enter the organization's name here"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-rescuer-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-title">Add Rescuer</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="control-label col-sm-3">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                        </div>  
                    </div>

                    <div class="form-group">
                        <label for="contactno" class="control-label col-sm-3">Contact Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="contactno" name="contactno" placeholder="Contact Number">
                        </div>  
                    </div>

                    <div class="form-group">
                        <label for="username" class="control-label col-sm-3">Username</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                        </div>  
                    </div>

                    <div class="form-group">
                        <label for="username" class="control-label col-sm-3">Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>  
                    </div>

                    <div class="form-group">
                        <label for="username" class="control-label col-sm-3">Confirm Password</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm Password">
                        </div>  
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/grid.js"></script>
<script>
    $(function() {
        Grid.init();
    });
</script>