div {
    border: solid 1px red;
}

#page-header {
    height: 50px;
}

#page-body {
    height: 100%;
}

#page-body {
    height: 100vh;
    background: #333333;
}

#cotact-list-wrapper {
    height: 100vh;
}

#message-thread {
    height: 100vh;

}

.contact {
    width: 100%;
    height: 20px;
    background: yellow;
    margin-bottom: 5px;
}