div {
/*    border: solid 1px red;
*/}

#messaging-panel {
    padding: 0;
    height: calc(100vh - 52px);
}

#message-thread {
    height: 100%;
    padding: 0;
}

#cotact-list-wrapper {
    height: 100%;
    padding: 20px;
    background: #ecf0f1;
}

#contact-list {
    width: 100%;
    margin: auto 0;
}

.contact {
}

#thread-title {
    height: 70px;
    margin: 0;
}

#thread-body {
    padding: 20px;
    height: calc(100vh - 252px);
    max-height: calc(100vh - 252px);
    overflow-y: scroll;
}

#thread-compose-message {
    padding: 10px 20px;
    height: 130px;
    border-top: solid 1px #ecf0f1;
}

#compose-text {
    width: 100%;
    resize: none;
}

#send-msg {
    float: right;
}

.message {
    padding: 10px;
    color: white;
}

.message-admin {
    border-radius: 10px 10px 0 10px;
    float:right;
    background: #2c3e50;
}

.message-client {
    border-radius: 10px 10px 10px 0;
    float:left;
    background: #c0392b;
}

.message-wrapper {
    padding: 2px;
}

.badge {
    background: #c0392b;
}

.active-contact {
    background: #bdc3c7;
}

.message-time {
    font-size: 7pt;
    color: #bdc3c7;
}

.location-card {
    padding: 10px;
    border: solid 1px #ecf0f1;
}

#group-msg-options {
    padding: 10px 30px;
}